@import '../../assets/scss/mixins';
@import '../../assets/scss/variables';

.header {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 50003;
    border-bottom: 1px solid white;

    width: 100vw;
    height: 22vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: $primary-color-light;

    // background-image: linear-gradient(to right top,
    //     rgba(#3a3a3a, 0.8),
    //     rgba(#262626, 0.9)),
    //     url(../../assets/images/money.jpg);
    // background-position: top;

    &_menu {
        position: absolute;
        z-index: 50001;
        width: 100vw;
        height: 100vh;

        display: flex;
        justify-content: center;
        align-items: center;

        background-color: $primary-color-light;

        &-item {
            display: flex;
            justify-content: center;

            font-weight: 700;
            margin: 2rem;
        }
    }

    &_menu-btn {
        position: relative;
        z-index: 50002;
        width: 4rem;
        height: 4rem;
        margin-right: 2rem;
    }

    @include responsive(secondThird) {
        flex-direction: row;
        height: fit-content;
        align-items: start;
    }

    .logo-box {
        display: flex;

        h1 {
            font-size: 3rem;
            font-weight: bold;
            letter-spacing: 1.5rem;
            padding-left: 2rem;
            padding-right: 2rem;

            @include responsive(second) {
                font-size: 3rem;
            }
        }

        .img-box {
            height: 8vh;

            img {
                @include responsive(second) {
                    height: 95%;
                }

                display: block;
                padding: 1rem;
                width: auto;
                height: 95%;
            }
        }
    }

    .content-box {
        display: flex;

        @include responsive(fourth) {
            flex-direction: column;
        }

        @include responsive(secondThird) {
            display: none;
        }


        .text-box {
            display: flex;
            flex-direction: row;

            p {
                letter-spacing: 0.5rem;
            }

            .banner {
                margin-left: auto;
                font-size: 2rem;
                text-decoration: underline;

                @include responsive(fourth) {
                    margin-left: 0;
                }
            }

        }

        .text-box {
            @include responsive(secondFirst) {
                flex-direction: column;
            }

        }

        .btn-box {

            display: flex;

            .btn-en {
                background-image: url(../../assets/icons/Custom-Icon-Design-Flag-3-United-Kingdom-flag.ico);
                background-position: center;
                background-size: cover;
                color: transparent;
                margin: .5rem;
                margin-left: 5rem;
                height: auto;
                width: fit-content;

                @include responsive(fourth) {
                    margin-left: 0;
                }
            }

            .btn-sr {
                background-image: url(../../assets/icons/Serbia-Flag-icon.png);
                background-position: center;
                background-size: cover;
                color: transparent;
                margin: .5rem;
                height: auto;
                width: fit-content;
            }

            .btn {}

            .btn-sign-out {
                margin-left: 3rem;
                margin-right: 2rem;
                color: white;
                font-weight: 300;

                @include responsive(fourth) {
                    margin-left: auto;
                }
            }
        }

    }

    .translation {
        display: flex;

        // margin: 1rem 2rem;

        @include responsive(secondThird) {
            display: flex;
            // flex-direction: column;

            .btn-en {
                // margin-bottom: .5rem;
                background-image: url(../../assets/icons/Custom-Icon-Design-Flag-3-United-Kingdom-flag.ico);
                background-position: center;
                background-size: cover;
                color: transparent;
                margin: 0 2rem;
                // margin-left: 5rem;
                height: auto;
                width: fit-content;

                @include responsive(fourth) {
                    margin-left: 0;
                }
            }

            .btn-sr {
                background-image: url(../../assets/icons/Serbia-Flag-icon.png);
                background-position: center;
                background-size: cover;
                color: transparent;
                // margin: .5rem;
                height: auto;
                width: fit-content;
            }
        }
    }
}