<header class="header">
    <div class="logo-box">
        <div class="img-box">
            <!-- <img src="../../assets/icons/logo-final.png" alt=""> -->
        </div>
        <h1>{{ "TITLE.PROJECT" | translate }}</h1>
    </div>
    <!-- <div class="content-box">
        <div class="text-box">
            <p class="header-text">{{ "LABEL.HEADER_TEXT" | translate }}</p>
            TODO: delete in development div
            <div class="banner">In development Version - 0.5</div>
        </div>
        <div class="btn-box">
            <button class="btn btn-en" (click)="onEn()">ENG</button>
            <button class="btn btn-sr" (click)="onSr()">SRB</button>
            <button class="btn btn-sign-out" (click)="onSignOUt()" *ngIf="signOutShow">
                {{ "BUTTON.SIGN_OUT" | translate }}
            </button>
        </div>
    </div> -->
    <!-- <div class="translation">
            <button class="btn btn-en" (click)="onEn()">ENG</button>
            <button class="btn btn-sr" (click)="onSr()">SRB</button>
        </div> -->

    <button *ngIf="showMenuBtn" class="header_menu-btn" (click)="toggleState()">
        <div class="header_menu-btn--line"></div>
    </button>

    <div class="header_menu" [@openCloseMenu]="state">
        <h2>{{'TITLE.MENU' | translate}}</h2>
        <ul class="header_menu-items">
            <li class="header_menu-item"><button class="header_menu-item--btn" (click)="onMenuItem(0);toggleState()">{{'BUTTON.BALANCE'
                    | translate}}</button></li>
            <li class="header_menu-item"><button class="header_menu-item--btn" (click)="onMenuItem(1);toggleState()">{{'BUTTON.ADD_TRANSACTION'
                    |
                    translate}}</button></li>
            <li class="header_menu-item"><button class="header_menu-item--btn" (click)="onMenuItem(2);toggleState()">{{'BUTTON.ALL_TRANSACTION'
                    |
                    translate}}</button></li>
            <li class="header_menu-item"><button class="header_menu-item--btn" (click)="onMenuItem(3);toggleState()">{{'BUTTON.CATEGORIES'
                    |
                    translate}}</button></li>
            <li class="header_menu-item"><button class="header_menu-item--btn" (click)="onMenuItem(4);toggleState()">{{'BUTTON.STATISTICS'
                    |
                    translate}}</button></li>
            <ul>
                <li class="header_menu-item">{{'LABEL.LANGUAGE' | translate}}</li>
                <li class="header_menu-item">
                    <div class="translation">
                        <button class="btn btn-en" (click)="onEn();toggleState()">ENG</button>
                        <button class="btn btn-sr" (click)="onSr();toggleState()">SRB</button>
                    </div>
                </li>
            </ul>
            <li class="header_menu-item"><button class="header_menu-item--btn" (click)="onSignOut();toggleState()">{{'BUTTON.SIGN_OUT'
                    | translate}}</button></li>
        </ul>
    </div>

</header>