@import '../assets/scss/mixins';

.app {
    position: relative;
    // width: 100vw;
    // height: 100%;
    display: flex;
    flex-direction: column;
    min-height: -webkit-fill-available;
}

.background {
    z-index: -1;
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    background-image: linear-gradient(to right bottom,
        rgba(#3a3a3a, .9),
        rgba(#262626, 1)),
        url(../assets/images/raining-money-1.png);
    // background-position: center;
    // background-size: auto;
}


.no-content {
    position: absolute;
    bottom: 0;
    width: 100%;
}
