<section>
    <div class="main-input">
        <div class="backdrop" (click)="onBackdropClick()"></div>
        <div id="g1" class="group" [ngClass]="{'hide': !expDropIsHidden}">
            <button class="btn" (click)="onIncBtn()">{{incDropIsHidden? ('BUTTON.ADD_INCOME' | translate) : ('BUTTON.CANCEL' | translate)}}</button>
            <div [hidden]="incDropIsHidden">
                <div class="input">
                    <label for="name">{{'LABEL.DESCRIPTION' | translate}}</label>
                    <input #incName type="text" name="name">
                    <label for="value">{{'LABEL.VALUE' | translate}}</label>
                    <input #incValue type="number" name="value">
                    <button class="btn input-btn" [ngClass]="{'invisible': expDropIsHidden && incDropIsHidden}" (click)="onCategorise('inc')">{{'LABEL.ADD_INCOME_TO' | translate}}</button>
                </div>
                <div [hidden]="!incCatClicked">
                    <div class="income-dropdown" *ngFor="let inc of userData?.getCategoriesInc()" (click)="onIncomeAddClick(inc, incName?.value, incValue?.value)">{{inc}}</div>
                    <div class="income-dropdown" (click)="newCategory()">+ {{ 'BUTTON.NEW_CATEGORY' | translate}}</div>

                    <div class="input-box" [ngClass]="{'hide': newCategoryCtrl}">
                        <input #incCategory type="text" name="category">
                        <button class="btn input-btn" (click)="newCategoryAdd(incCategory.value, 'Income')">{{'BUTTON.ADD'
                            | translate}}</button>
                    </div>
                </div>
            </div>
        </div>

        <div id="g3" class="group" [ngClass]="{'hide': !incDropIsHidden}">
            <button class="btn" (click)="onExpBtn()">{{expDropIsHidden ? ('BUTTON.ADD_EXPENSE' | translate) : ('BUTTON.CANCEL' | translate)}}</button>
            <div [hidden]="expDropIsHidden">
                <div class="input">
                    <label for="name">{{'LABEL.DESCRIPTION' | translate}}</label>
                    <input #expName type="text" name="name">
                    <label for="value">{{'LABEL.VALUE' | translate}}</label>
                    <input #expValue type="number" name="value">
                    <button class="btn input-btn" [ngClass]="{'invisible': expDropIsHidden && incDropIsHidden}" (click)="onCategorise('exp')">{{'LABEL.ADD_EXPENSE_TO' |
                        translate}}</button>
                </div>
                <div [hidden]="!expCatClicked">
                    <div class="expense-dropdown" *ngFor="let exp of userData?.getCategoriesExp()" (click)="onExpenseAddClick(exp, expName?.value, expValue?.value)">{{exp}}</div>
                    <div class="expense-dropdown" (click)="newCategory()">+ {{ 'BUTTON.NEW_CATEGORY' | translate}}</div>

                    <div class="input-box" [ngClass]="{'hide': newCategoryCtrl}">
                        <input #expCategory type="text" name="expCategory">
                        <button class="btn input-btn" (click)="newCategoryAdd(expCategory.value,'Expense')">{{'BUTTON.ADD'
                            | translate}}</button>
                    </div>
                </div>
            </div>
        </div>

    </div>

</section>

<!-- <ng-container *ngTemplateOutlet="input"></ng-container> -->
<!-- <ng-template #input>
    <div id="g2" class="group">
        <label for="name">{{'LABEL.DESCRIPTION' | translate}}</label>
        <input #name type="text" name="name">
        <label for="value">{{'LABEL.VALUE' | translate}}</label>
        <input #value type="number" name="value">
        <span [ngClass]="{'invisible': expDropIsHidden && incDropIsHidden}">{{'LABEL.CATEGORISE_THIS' | translate}}:</span>
    </div>
</ng-template> -->
