@import '../../../assets/scss/variables';
@import '../../../assets/scss/mixins';
// TODO: remove this css
.setup {
    border: 1px solid black;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 80vh;
    width: 100%;

    @include responsive(fourth) {
        text-align: center;
    }


    &__greetengs {
        text-transform: uppercase;
        font-size: 2.5rem;
        margin: 2rem;
        order: 1;

        &-2 {
            order: 2;
            text-transform: uppercase;
            margin: 1rem;
        }
    }   

    .input {
        // min-width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        order: 4;

        &__text {
            margin: 1rem;
        }

        &__field {
            text-align: center;
            width: 80%;
        }

        .btn {
            margin: 1rem;
        }

        .btn-box {
            display: flex;
        }
    }

    .cat-box {
        display: flex;
        margin-bottom: auto;
        order: 5;

        .table-box {
            margin: 2rem 3rem;
        }

        @include responsive(second) {
            flex-direction: column;
            width: 90%;
            align-items: center;
        }
    }

    .skip-btn {
        background-color: $red-50; 
        margin-bottom: 3rem;
        width: 20rem;

        order: 3;
    }

    .btn-next {
        background-color: $primary-blue;      
    }

    .btn-add {
        background-color: $red-50;  
    }
}
