<section id="statistics" class="statistics">
    <span>{{'TITLE.STATISTICS_TITLE' | translate}}</span>
    <span>{{'DISCLAIMER.IN_DEVELOPMENT' | translate}}</span>
    <!-- <div>
        <p>{{'INPUT.SETUP_TIME_FRAME' | translate}}</p>
        <span>{{'TIME_DATE.MONTH' | translate}}</span>
        <span>{{'TIME_DATE.WEEK' | translate}}</span>
        <span>{{'TIME_DATE.YEAR' | translate}}</span>
        <span>Custom?</span>
    </div>
    <div>
        <p>statistic label</p>
        <div>custom chart shit</div>
    </div> -->
    <div id="chart1" class="chart"></div>
</section>
