@import '../../../assets/scss/variables';
@import '../../../assets/scss/mixins';
// TODO: remove stupid css

span {
    margin-right: 1rem;
    display: inline-block;
}

.categories {
    // border: 1px solid black;
    display: flex;
    flex-direction: column;
    align-items: center;

    height: 100%;
    transition: all .1s;

    padding-top: 1rem;
    padding-bottom: 3rem;
}

.flex-container {
    display: flex;
    height: 100%;
    width: 100%;
}

@include responsive(secondThird) {
    .flex-container {
        flex-direction: column;
        align-items: center;
        line-height: 2.5;
    }
}

.category {
    margin: .2rem;
    border: $slim-border;
    display: flex;
    width: 99%;
    transition: all .2s;
    justify-content: center;

    &:hover {
        transform: translateY(-2px);
        box-shadow: $slim-shady;
    }

    &:active {
        transform: translateY(-1px);
        box-shadow: $smaller-shadow;
    }
}

.cat-section {
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;

    @include responsive(second) {
        width: 90%;
    }
}

.add-box {
    display: flex;
    margin-top: .7rem;
    flex-direction: column;
    align-items: center;
    width: 80%;

    >input {
        margin-bottom: .7rem;
        width: 95%;
    }
}

.btn-box {
    display: flex;
    align-items: flex-end;
    justify-content: space-evenly;
    width: 100%;
}

.add-new {
    font-size: 3rem;
    line-height: 4rem;
    @include responsive(second) {
         line-height: 5rem;
    }
}

.btn-add {
    background-color: $red-50;
    width: 35%;
    color: black;
    font-weight: $font-thick;
}

.btn-finish {
    background-color: $primary-blue;
    width: 35%;
}

.btn-remove {
    display: flex;
    margin-left: auto;
    margin-right: 2rem;
    // novi 
    width: 3rem;
    height: 3rem;

    border-radius: 10rem;
    font-size: 3rem;
    background-color: $red-600;
    margin-left: 2rem;

    line-height: 1.2rem;
    color: white;
    font-weight: 300;
}

.name-span {
    margin-left: 2rem;
}

.value-span {
    margin-right: auto;
}
